In [1]:
import pandas as pd
import numpy as np

In [5]:
#Merge the master dataframe of each rental type to create a dataframe with all the rental types
one_bed_url='1_bed_master.csv'
two_bed_url='2_bed_master.csv'

#Read csv 1
one_bed_df=pd.read_csv(one_bed_url)
one_bed_df.head()

,Unnamed: 0,RegionName,State,Metro,2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667
1,1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667
2,2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333
3,3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667
4,4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000

In [6]:
#Read csv 2
two_bed_df=pd.read_csv(two_bed_url)
two_bed_df.head()

,Unnamed: 0,RegionName,State,Metro,2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,2193.041667,2191.333333,2371.458333,2520.833333
1,1,Middlesex County,NJ,New York-Newark-Jersey City,1585.208333,1631.791667,1687.916667,1729.583333,1827.916667,1888.375000
2,2,Essex County,NJ,New York-Newark-Jersey City,1276.041667,1253.750000,1307.500000,1432.083333,1592.500000,1675.625000
3,3,Hudson County,NJ,New York-Newark-Jersey City,NaN,NaN,2418.541667,2468.541667,2480.166667,2647.416667
4,4,Monmouth County,NJ,New York-Newark-Jersey City,1740.208333,1769.583333,1773.750000,1783.041667,1841.250000,1916.666667

In [8]:
#Outer merge based on county ("RegionName")
one_two_bed_merge = pd.merge(one_bed_df, two_bed_df, on="RegionName", how="outer")
one_two_bed_merge.head()

,Unnamed: 0_x,RegionName,State_x,Metro_x,2013 Average_x,2014 Average_x,2015 Average_x,2016 Average_x,2017 Average_x,2018 Average_x,Unnamed: 0_y,State_y,Metro_y,2013 Average_y,2014 Average_y,2015 Average_y,2016 Average_y,2017 Average_y,2018 Average_y
0,0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,0,NJ,New York-Newark-Jersey City,NaN,NaN,2193.041667,2191.333333,2371.458333,2520.833333
1,1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1,NJ,New York-Newark-Jersey City,1585.208333,1631.791667,1687.916667,1729.583333,1827.916667,1888.375000
2,2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,2,NJ,New York-Newark-Jersey City,1276.041667,1253.750000,1307.500000,1432.083333,1592.500000,1675.625000
3,3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,3,NJ,New York-Newark-Jersey City,NaN,NaN,2418.541667,2468.541667,2480.166667,2647.416667
4,4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,4,NJ,New York-Newark-Jersey City,1740.208333,1769.583333,1773.750000,1783.041667,1841.250000,1916.666667

In [29]:
#Clean up the columns by renaming the x and y columns
one_two_bed_merge=one_two_bed_merge.rename(columns={"State_x":"State","Metro_x":"Metro","2013 Average (One Bedroom)":
                                                    "2013 Average (One Bed)","2014 Average_x":"2014 Average (One Bed)",
                                                   "2015 Average_x":"2015 Average (One Bed)","2016 Average_x":
                                                   "2016 Average (One Bed)", "2017 Average_x":"2017 Average (One Bed)",
                                                   "2018 Average_x":"2018 Average (One Bed)","2013 Average_y":
                                                   "2013 Average (Two Bed)","2014 Average_y":"2014 Average (Two Bed)",
                                                   "2015 Average_y":"2015 Average (Two Bed)","2016 Average_y":
                                                   "2016 Average (Two Bed)","2017 Average_y":"2017 Average (Two Bed)",
                                                   "2018 Average_y":"2018 Average (Two Bed)"})




one_two_bed_merge.head()

,RegionName,State,Metro,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),2014 Average (Two Bed),2015 Average (Two Bed),2016 Average (Two Bed),2017 Average (Two Bed),2018 Average (Two Bed)
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,NaN,2193.041667,2191.333333,2371.458333,2520.833333
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,1631.791667,1687.916667,1729.583333,1827.916667,1888.375000
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,1253.750000,1307.500000,1432.083333,1592.500000,1675.625000
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,NaN,2418.541667,2468.541667,2480.166667,2647.416667
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,1769.583333,1773.750000,1783.041667,1841.250000,1916.666667

In [30]:
#3rd merge
three_bed_url='3_bed_master.csv'

three_bed_df=pd.read_csv(three_bed_url)
three_bed_df.head()

,Unnamed: 0,RegionName,State,Metro,2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,2467.500000,2542.916667,2541.666667,2604.958333
1,1,Middlesex County,NJ,New York-Newark-Jersey City,2020.000000,2058.333333,2088.750000,2124.791667,2247.916667,2263.166667
2,2,Essex County,NJ,New York-Newark-Jersey City,1310.416667,1287.500000,1329.166667,1388.958333,1466.250000,1575.000000
3,3,Hudson County,NJ,New York-Newark-Jersey City,NaN,NaN,2018.041667,2456.666667,2327.916667,2347.458333
4,4,Monmouth County,NJ,New York-Newark-Jersey City,2241.875000,2254.166667,2332.500000,2312.500000,2370.833333,2445.833333

In [35]:
three_bed_merge = pd.merge(one_two_bed_merge, three_bed_df, on="RegionName", how="outer")


del (three_bed_merge["Unnamed: 0"],three_bed_merge["State_y"],three_bed_merge["Metro_y"])
three_bed_merge.head()

,RegionName,State_x,Metro_x,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),...,2015 Average (Two Bed),2016 Average (Two Bed),2017 Average (Two Bed),2018 Average (Two Bed),2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,...,2193.041667,2191.333333,2371.458333,2520.833333,NaN,NaN,2467.500000,2542.916667,2541.666667,2604.958333
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,...,1687.916667,1729.583333,1827.916667,1888.375000,2020.000000,2058.333333,2088.750000,2124.791667,2247.916667,2263.166667
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,...,1307.500000,1432.083333,1592.500000,1675.625000,1310.416667,1287.500000,1329.166667,1388.958333,1466.250000,1575.000000
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,...,2418.541667,2468.541667,2480.166667,2647.416667,NaN,NaN,2018.041667,2456.666667,2327.916667,2347.458333
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,...,1773.750000,1783.041667,1841.250000,1916.666667,2241.875000,2254.166667,2332.500000,2312.500000,2370.833333,2445.833333

In [37]:
three_bed_merge=three_bed_merge.rename(columns={"State_x":"State","Metro_x":"Metro","2013 Average":"2013 Average (Three Bed)",
                                                "2014 Average":"2014 Average (Three Bed)","2015 Average":"2015 Average (Three Bed)",
                                                "2016 Average":"2016 Average (Three Bed)","2017 Average":"2017 Average (Three Bed)",
                                                "2018 Average":"2018 Average (Three Bed)"
                                                })
three_bed_merge

,RegionName,State,Metro,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),...,2015 Average (Two Bed),2016 Average (Two Bed),2017 Average (Two Bed),2018 Average (Two Bed),2013 Average (Three Bed),2014 Average (Three Bed),2015 Average (Three Bed),2016 Average (Three Bed),2017 Average (Three Bed),2018 Average (Three Bed)
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,...,2193.041667,2191.333333,2371.458333,2520.833333,NaN,NaN,2467.500000,2542.916667,2541.666667,2604.958333
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,...,1687.916667,1729.583333,1827.916667,1888.375000,2020.000000,2058.333333,2088.750000,2124.791667,2247.916667,2263.166667
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,...,1307.500000,1432.083333,1592.500000,1675.625000,1310.416667,1287.500000,1329.166667,1388.958333,1466.250000,1575.000000
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,...,2418.541667,2468.541667,2480.166667,2647.416667,NaN,NaN,2018.041667,2456.666667,2327.916667,2347.458333
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,...,1773.750000,1783.041667,1841.250000,1916.666667,2241.875000,2254.166667,2332.500000,2312.500000,2370.833333,2445.833333
5,Ocean County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,176.666667,1219.791667,1235.833333,1271.041667,...,1338.541667,1387.916667,1458.750000,1482.708333,1170.833333,1560.416667,1564.375000,1625.000000,1724.166667,1757.833333
6,Union County,NJ,New York-Newark-Jersey City,NaN,NaN,1283.916667,1411.458333,1540.291667,1591.250000,1551.666667,...,1638.041667,1765.916667,1854.541667,1904.708333,284.375000,1636.458333,1665.416667,1869.166667,1868.750000,1897.916667
7,Camden County,NJ,Philadelphia-Camden-Wilmington,843.500000,809.166667,914.291667,962.625000,1014.000000,1026.458333,1140.083333,...,1228.333333,1345.666667,1363.083333,1322.541667,NaN,NaN,NaN,381.625000,1762.500000,1681.250000
8,Passaic County,NJ,New York-Newark-Jersey City,1118.333333,1153.750000,1185.416667,1220.208333,1278.541667,1351.333333,1481.250000,...,1565.208333,1536.875000,1614.583333,1630.416667,1791.666667,1612.083333,1668.750000,1746.875000,1859.166667,1919.375000
9,Morris County,NJ,New York-Newark-Jersey City,1273.541667,1354.166667,1548.750000,1517.750000,1702.000000,1904.416667,1955.833333,...,2128.666667,2207.750000,2305.750000,2396.666667,NaN,NaN,NaN,NaN,2541.166667,2597.291667
10,Burlington County,NJ,Philadelphia-Camden-Wilmington,935.041667,974.916667,1020.375000,1065.208333,1119.791667,1143.666667,1269.250000,...,1327.125000,1342.291667,1393.333333,1444.583333,NaN,NaN,NaN,NaN,992.083333,1717.916667
11,Mercer County,NJ,Trenton,NaN,NaN,NaN,NaN,NaN,852.291667,NaN,...,NaN,NaN,NaN,1173.750000,NaN,NaN,NaN,NaN,NaN,878.125000
12,Somerset County,NJ,New York-Newark-Jersey City,NaN,NaN,1165.833333,1375.708333,1463.416667,1497.791667,1742.708333,...,1823.750000,1868.958333,1925.000000,1931.875000,NaN,NaN,NaN,NaN,2189.583333,2135.833333
13,Gloucester County,NJ,Philadelphia-Camden-Wilmington,NaN,NaN,NaN,NaN,968.541667,1088.833333,1182.291667,...,1193.583333,1255.625000,1273.541667,1324.041667,NaN,NaN,NaN,NaN,1470.000000,1571.166667
14,Atlantic County,NJ,Atlantic City-Hammonton,1007.083333,996.250000,1062.875000,1014.083333,943.125000,1000.833333,1278.958333,...,1237.166667,1201.500000,1184.416667,1191.458333,NaN,NaN,NaN,1529.416667,1548.916667,1541.000000
15,Sussex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,537.708333,1153.875000,NaN,...,NaN,NaN,1418.750000,1412.291667,NaN,NaN,NaN,NaN,NaN,NaN
16,Hunterdon County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,681.041667,1328.333333,NaN,...,NaN,NaN,1643.750000,1776.041667,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
four_bed_url='4_bed_master.csv'

four_bed_df=pd.read_csv(four_bed_url)

del four_bed_df["Unnamed: 0"]
four_bed_df.head()

,RegionName,State,Metro,2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,3283.333333,3400.625000
1,Essex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1668.833333,1756.208333
2,Hudson County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,700.0,2609.166667,2341.416667
3,Monmouth County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,3014.583333,3483.333333

In [42]:
four_bed_merge = pd.merge(three_bed_merge, four_bed_df, on="RegionName", how="outer")

del (four_bed_merge["State_y"],four_bed_merge["Metro_y"])
four_bed_merge.head()

,RegionName,State_x,Metro_x,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),...,2015 Average (Three Bed),2016 Average (Three Bed),2017 Average (Three Bed),2018 Average (Three Bed),2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,...,2467.500000,2542.916667,2541.666667,2604.958333,NaN,NaN,NaN,NaN,3283.333333,3400.625000
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,...,2088.750000,2124.791667,2247.916667,2263.166667,NaN,NaN,NaN,NaN,NaN,NaN
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,...,1329.166667,1388.958333,1466.250000,1575.000000,NaN,NaN,NaN,NaN,1668.833333,1756.208333
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,...,2018.041667,2456.666667,2327.916667,2347.458333,NaN,NaN,NaN,700.0,2609.166667,2341.416667
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,...,2332.500000,2312.500000,2370.833333,2445.833333,NaN,NaN,NaN,NaN,3014.583333,3483.333333

In [44]:
four_bed_merge=four_bed_merge.rename(columns={"State_x":"State","Metro_x":"Metro","2013 Average":"2013 Average (Four Bed)",
                                              "2014 Average":"2014 Average (Four Bed)","2015 Average":"2015 Average (Four Bed)",
                                              "2016 Average":"2016 Average (Four Bed)","2017 Average":"2017 Average (Four Bed)",
                                              "2018 Average":"2018 Average (Four Bed)"
                                                })
four_bed_merge

,RegionName,State,Metro,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),...,2015 Average (Three Bed),2016 Average (Three Bed),2017 Average (Three Bed),2018 Average (Three Bed),2013 Average (Four Bed),2014 Average (Four Bed),2015 Average (Four Bed),2016 Average (Four Bed),2017 Average (Four Bed),2018 Average (Four Bed)
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,...,2467.500000,2542.916667,2541.666667,2604.958333,NaN,NaN,NaN,NaN,3283.333333,3400.625000
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,...,2088.750000,2124.791667,2247.916667,2263.166667,NaN,NaN,NaN,NaN,NaN,NaN
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,...,1329.166667,1388.958333,1466.250000,1575.000000,NaN,NaN,NaN,NaN,1668.833333,1756.208333
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,...,2018.041667,2456.666667,2327.916667,2347.458333,NaN,NaN,NaN,700.0,2609.166667,2341.416667
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,...,2332.500000,2312.500000,2370.833333,2445.833333,NaN,NaN,NaN,NaN,3014.583333,3483.333333
5,Ocean County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,176.666667,1219.791667,1235.833333,1271.041667,...,1564.375000,1625.000000,1724.166667,1757.833333,NaN,NaN,NaN,NaN,NaN,NaN
6,Union County,NJ,New York-Newark-Jersey City,NaN,NaN,1283.916667,1411.458333,1540.291667,1591.250000,1551.666667,...,1665.416667,1869.166667,1868.750000,1897.916667,NaN,NaN,NaN,NaN,NaN,NaN
7,Camden County,NJ,Philadelphia-Camden-Wilmington,843.500000,809.166667,914.291667,962.625000,1014.000000,1026.458333,1140.083333,...,NaN,381.625000,1762.500000,1681.250000,NaN,NaN,NaN,NaN,NaN,NaN
8,Passaic County,NJ,New York-Newark-Jersey City,1118.333333,1153.750000,1185.416667,1220.208333,1278.541667,1351.333333,1481.250000,...,1668.750000,1746.875000,1859.166667,1919.375000,NaN,NaN,NaN,NaN,NaN,NaN
9,Morris County,NJ,New York-Newark-Jersey City,1273.541667,1354.166667,1548.750000,1517.750000,1702.000000,1904.416667,1955.833333,...,NaN,NaN,2541.166667,2597.291667,NaN,NaN,NaN,NaN,NaN,NaN
10,Burlington County,NJ,Philadelphia-Camden-Wilmington,935.041667,974.916667,1020.375000,1065.208333,1119.791667,1143.666667,1269.250000,...,NaN,NaN,992.083333,1717.916667,NaN,NaN,NaN,NaN,NaN,NaN
11,Mercer County,NJ,Trenton,NaN,NaN,NaN,NaN,NaN,852.291667,NaN,...,NaN,NaN,NaN,878.125000,NaN,NaN,NaN,NaN,NaN,NaN
12,Somerset County,NJ,New York-Newark-Jersey City,NaN,NaN,1165.833333,1375.708333,1463.416667,1497.791667,1742.708333,...,NaN,NaN,2189.583333,2135.833333,NaN,NaN,NaN,NaN,NaN,NaN
13,Gloucester County,NJ,Philadelphia-Camden-Wilmington,NaN,NaN,NaN,NaN,968.541667,1088.833333,1182.291667,...,NaN,NaN,1470.000000,1571.166667,NaN,NaN,NaN,NaN,NaN,NaN
14,Atlantic County,NJ,Atlantic City-Hammonton,1007.083333,996.250000,1062.875000,1014.083333,943.125000,1000.833333,1278.958333,...,NaN,1529.416667,1548.916667,1541.000000,NaN,NaN,NaN,NaN,NaN,NaN
15,Sussex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,537.708333,1153.875000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hunterdon County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,681.041667,1328.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
five_bed_url='5_bed_master.csv'

five_bed_df=pd.read_csv(five_bed_url)

del five_bed_df["Unnamed: 0"]
five_bed_df

,RegionName,State,Metro,2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,Hudson County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1541.666667,2493.083333

In [49]:
five_bed_merge = pd.merge(four_bed_merge, five_bed_df, on="RegionName", how="outer")

del (five_bed_merge["State_y"],five_bed_merge["Metro_y"])

five_bed_merge.head()

,RegionName,State_x,Metro_x,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),...,2015 Average (Four Bed),2016 Average (Four Bed),2017 Average (Four Bed),2018 Average (Four Bed),2013 Average,2014 Average,2015 Average,2016 Average,2017 Average,2018 Average
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,...,NaN,NaN,3283.333333,3400.625000,NaN,NaN,NaN,NaN,NaN,NaN
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,...,NaN,NaN,1668.833333,1756.208333,NaN,NaN,NaN,NaN,NaN,NaN
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,...,NaN,700.0,2609.166667,2341.416667,NaN,NaN,NaN,NaN,1541.666667,2493.083333
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,...,NaN,NaN,3014.583333,3483.333333,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
five_bed_merge=five_bed_merge.rename(columns={"State_x":"State","Metro_x":"Metro","2013 Average":"2013 Average (Five Bed)",
                                              "2014 Average":"2014 Average (Five Bed)","2015 Average":"2015 Average (Five Bed)",
                                              "2016 Average":"2016 Average (Five Bed)","2017 Average":"2017 Average (Five Bed)",
                                              "2018 Average":"2018 Average (FIve Bed)"
                                            })

five_bed_merge

,RegionName,State,Metro,2013 Average (One Bed),2014 Average (One Bed),2015 Average (One Bed),2016 Average (One Bed),2017 Average (One Bed),2018 Average (One Bed),2013 Average (Two Bed),...,2015 Average (Four Bed),2016 Average (Four Bed),2017 Average (Four Bed),2018 Average (Four Bed),2013 Average (Five Bed),2014 Average (Five Bed),2015 Average (Five Bed),2016 Average (Five Bed),2017 Average (Five Bed),2018 Average (FIve Bed)
0,Bergen County,NJ,New York-Newark-Jersey City,NaN,NaN,1538.333333,1591.583333,1727.250000,1964.666667,NaN,...,NaN,NaN,3283.333333,3400.625000,NaN,NaN,NaN,NaN,NaN,NaN
1,Middlesex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,1116.833333,1520.791667,1585.208333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Essex County,NJ,New York-Newark-Jersey City,936.666667,939.916667,1052.916667,1107.708333,1264.541667,1381.333333,1276.041667,...,NaN,NaN,1668.833333,1756.208333,NaN,NaN,NaN,NaN,NaN,NaN
3,Hudson County,NJ,New York-Newark-Jersey City,1816.583333,1847.625000,1892.500000,1925.208333,2029.250000,2189.166667,NaN,...,NaN,700.0,2609.166667,2341.416667,NaN,NaN,NaN,NaN,1541.666667,2493.083333
4,Monmouth County,NJ,New York-Newark-Jersey City,1246.666667,1344.791667,1320.583333,1393.333333,1406.458333,1465.625000,1740.208333,...,NaN,NaN,3014.583333,3483.333333,NaN,NaN,NaN,NaN,NaN,NaN
5,Ocean County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,176.666667,1219.791667,1235.833333,1271.041667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Union County,NJ,New York-Newark-Jersey City,NaN,NaN,1283.916667,1411.458333,1540.291667,1591.250000,1551.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Camden County,NJ,Philadelphia-Camden-Wilmington,843.500000,809.166667,914.291667,962.625000,1014.000000,1026.458333,1140.083333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Passaic County,NJ,New York-Newark-Jersey City,1118.333333,1153.750000,1185.416667,1220.208333,1278.541667,1351.333333,1481.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Morris County,NJ,New York-Newark-Jersey City,1273.541667,1354.166667,1548.750000,1517.750000,1702.000000,1904.416667,1955.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Burlington County,NJ,Philadelphia-Camden-Wilmington,935.041667,974.916667,1020.375000,1065.208333,1119.791667,1143.666667,1269.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Mercer County,NJ,Trenton,NaN,NaN,NaN,NaN,NaN,852.291667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Somerset County,NJ,New York-Newark-Jersey City,NaN,NaN,1165.833333,1375.708333,1463.416667,1497.791667,1742.708333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Gloucester County,NJ,Philadelphia-Camden-Wilmington,NaN,NaN,NaN,NaN,968.541667,1088.833333,1182.291667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Atlantic County,NJ,Atlantic City-Hammonton,1007.083333,996.250000,1062.875000,1014.083333,943.125000,1000.833333,1278.958333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Sussex County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,537.708333,1153.875000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hunterdon County,NJ,New York-Newark-Jersey City,NaN,NaN,NaN,NaN,681.041667,1328.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#Create csv file for the 1 to 5 bedroom merged dataframe
five_bed_merge.to_csv('1_to_5_bed_merged.csv')